.Pin-title-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.75em; 
  max-height: 5.25em; 
  word-break: break-all;
  font-size: 1.75rem;
  font-weight: 600;
}
.Pin-description-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  /* line-height: 1.75em;  */
  /* max-height: 5.25em;  */
  word-break: break-all;
  font-size: 1rem;
  font-weight: 400;
}

#description {
  flex-grow: 1;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 16px;
  width: 100%;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 1px;
  resize: none;
}

#description:focus {
  outline-color: #007eff;
}